* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1,
footer p {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.color-picker-container {
    display: flex;
    align-items: center;
}

.color-preview {
    width: 50px;
    height: 50px;
    border: 1px solid #333;
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}